@media screen and (max-width: 1440px) {
    #transring {
        transform: translate(-120%, -90%);
        height: 30%;
    }
    .pages>img{
        scale: 0.7 !important;
    }
}
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 838px) {
}

@media screen and (max-width: 676px) {
}



@media screen and (max-width: 582px) {
}
@media screen and (max-width: 482px) {
}

@media screen and (max-width: 390px) {
}
